/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* montserrat-300 - latin_cyrillic-ext_cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  src: local(''),
       url('../fonts/montserrat-v21-latin_cyrillic-ext_cyrillic-300.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/montserrat-v21-latin_cyrillic-ext_cyrillic-300.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-regular - latin_cyrillic-ext_cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('../fonts/montserrat-v21-latin_cyrillic-ext_cyrillic-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/montserrat-v21-latin_cyrillic-ext_cyrillic-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-500 - latin_cyrillic-ext_cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  src: local(''),
       url('../fonts/montserrat-v21-latin_cyrillic-ext_cyrillic-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/montserrat-v21-latin_cyrillic-ext_cyrillic-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-600 - latin_cyrillic-ext_cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  src: local(''),
       url('../fonts/montserrat-v21-latin_cyrillic-ext_cyrillic-600.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/montserrat-v21-latin_cyrillic-ext_cyrillic-600.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

html {
  box-sizing: border-box;
}
*, *::before, *::after{
    box-sizing: inherit;
}

body {
    font-family: Montserrat;
    background-color: rgb(0, 0, 0);
}
.wrapper {

    max-width: 1260px;
    margin-left:330px;
    margin-right:330px;
}
.header {
    background-color: rgb(0, 0, 0);
}

.header__wrapper{
    display: flex;
    flex-direction: column;
}

.header__logo{
    margin-top: 50px;
    margin-bottom: 60px;
}

.header__title{
    margin-top: 50px;
    margin-bottom: 50px;
    font-family: Montserrat;
    font-weight: 300;
    color: #ff2e53;
    font-size: 45px;
    line-height: 50px;
    
}


.header__list{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    margin-bottom: 100px;
}

.post_tags_list{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    margin-bottom: 100px;
    position: relative;
    top:-50px;

}

.header__item{
    border-radius: 25px;
    padding: 15px 30px;
    margin-right: 30px;
    box-sizing: border-box;
    border: 1px solid rgba(151, 163, 203, 0.3);
}

.post_tag__item{
    border-radius: 25px;
    padding: 5px 15px;
    margin-right: 17px;
    border: 1px solid rgba(151, 163, 203, 0.3);
}


.header__item:hover, .header__item:focus, .header__item:active {
    background: #323749;
}

.post_tag__item:hover, .post_tag__item:focus, .post_tag__item:active{
    background: #323749;
}

.header__item:last-child{
    margin-right:0px;
}

.post_tag__item:last-child{
    margin-right:0px;
}

.header__link{
   font-family: Montserrat;
   font-style: normal;
   font-weight: 600;
   font-size: 13px;
   line-height: 20px;
   /* identical to box height, or 154% */
   text-transform: uppercase;
   color: white;

}


.tag__link {
   font-family: Montserrat;
   font-style: normal;
   font-weight: 600;
   font-size: 13px;
   line-height: 20px;
   /* identical to box height, or 154% */

   text-transform: uppercase;
   color: white;
}

.header__post{
 width:auto;
 height: 420px;
 margin-bottom: 150px; 
 background-color: rgb(0, 0, 0);
}

.post__wrapper {
   display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.post__text{
font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 25px;
line-height: 35px;
margin-top: 60px;
color: lightgray;
}

.post__link{
font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 25px;
line-height: 35px;
color: lightgrey;
border: 1px solid #000000;
text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}

.post__img{
    margin-left:62px;
    margin-right: 130px;
}

.post__date{
    position: relative;
    top:-420px;
    margin-left:5px;
    color:grey;
}

.post__arrow{
    position:relative;
    top:0px;
    left :-100px;
}
